PORT = 8091
IP = localhost
APP_PATH = http://${IP}:${PORT}
ASSET_PATH= assets/
SECRET=

DB_HOSTNAME=127.0.0.1
DB_PORT=3306
DB_USER=root
DB_PASSWORD=
DB_NAME=test_go

#AWS_ACCESS_KEY_ID=
#AWS_SECRET_ACCESS_KEY=
#AWS_REGION=
#AWS_S3_BUCKET=
#AWS_S3_BUCKET_PATH=go-upload

MAIL_MAILER=smtp
MAIL_HOST=smtp.gmail.com
MAIL_PORT=587
MAIL_USERNAME=
MAIL_PASSWORD=
MAIL_ENCRYPTION=ssl
MAIL_FROM_ADDRESS=
MAIL_FROM_NAME=LathranSuite

REDIS_ADDR=localhost:6379
REDIS_PASSWORD=